@import "variables";

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills {
    width: 100%;
    height: 100vh;
    background: black;
    position: relative;
}

.skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 100px 300px;
    .l1c1,
    .l1c3,
    .l2c2 {
        height: 300px;
        width: 300px;
        background: $violet;
        column-gap: 0;
        position: relative;
        @include flex;
        img {
            z-index: 10;
            max-width: 300px;
            position: absolute;
            opacity: 0.4;
        }
        h1 {
            color: white;
            z-index: 100;
            position: absolute;
            // bottom: 50%;
            // left: 10%;
        }
    }

    .l1c2,
    .l2c1,
    .l2c3 {
        @include flex;
    }
}

.circle {
    height: 200px;
    width: 200px;
    background: white;
    border-radius: 100px;
}

.fixed-skills {
    position: absolute;
    width: 100%;
    height: 330px;
    top:0;
    left: 0;
    right: 0;
    h1 {
        font-size: 230px;
        color: white;
        font-weight: 400;
        transform: translate(100px, -100px) ;
        z-index: -1;
        width: 400px;

    }
}
